### Pandas Type Error Missing Argument

You might see the following error in your code: TypeError: {any_fucntion} missing 1 required positional argument: 'by'

Pandas **TypeError** can be annoying, especially when you miss an arguement. This means that a pandas function is expecting an arguement, but it did not find one.

Let's check out some examples:
1. Invoking the error
2. Fixing by being explicit about all arguments

First let's create our DataFrame

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame([('Foreign Cinema', 'Restaurant'),
                   ('Liho Liho', 'Restaurant'),
                   ('500 Club', 'bar'),
                   ('The Square', 'bar')],
           columns=('name', 'type')
                 )

df

             name        type
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
2        500 Club         bar
3      The Square         bar

Great, now that we've done that, let's call sort_values() on this DataFrame.

In [4]:
df.sort_values()

TypeError: sort_values() missing 1 required positional argument: 'by'

Oh no! We get a type error. Let's investigate this one more.

You see how the pandas error mentions `sort_values()`? This means that there is a problem with this function.

`missing 1 required positional argument: 'by'` means that pandas *thought* there was going to be an argument `by` but it could not find it.

`sort_values()` takes an argument `by` which tells pandas *what* to sort the values of.

Let's try adding this one to our code and see if we get the solution. I'll be explicit about the argument and put `by=` in my function.

In [9]:
df.sort_values(by='name')

             name        type
2        500 Club         bar
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
3      The Square         bar

That was easy.

An alternative would have been to just do

In [10]:
df.sort_values('name')

             name        type
2        500 Club         bar
0  Foreign Cinema  Restaurant
1       Liho Liho  Restaurant
3      The Square         bar

Since `by` is a positional argument, this means that what ever you put first will be sorted. Since there is only one arguement this works out well!

Bonus: Let's reverse the order

In [11]:
df.sort_values('name', ascending=False)

             name        type
3      The Square         bar
1       Liho Liho  Restaurant
0  Foreign Cinema  Restaurant
2        500 Club         bar

Here I added one more *optional* argument of `ascending` which tells pandas which order to sort in